.ant-layout {
  background: var(--page-bg-color);
  color: var(--page-text-color);
}

.ant-menu-item .ant-menu-item-icon {
  color: var(--page-text-color) !important;
}

.dark {
   .ant-menu-item-selected {
    color: rgb(12, 166, 242);
    background-color: rgb(4, 54, 90);
    svg{
      color: rgb(12, 166, 242);
    }
  }
}



li.ant-menu-item .ant-menu-item-icon{
  svg {
    font-size: 16px;
  }
}


:root {
  --antd-arrow-bg: #fff;
  --antd-arrow-color: #333333;
}

.dark {
  --antd-arrow-bg: #424242;
  --antd-arrow-color: #e8e8e8;

  .ant-tooltip-inner {
    border: none !important;
    box-shadow: none !important;
    color: var(--antd-arrow-color) !important;
    background-color: var(--antd-arrow-bg) !important;
  }

  .ant-tooltip-arrow::after {
    border: none !important;
  }
}

.ant-tooltip-inner {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 38px !important;
  color: var(--antd-arrow-color) !important;
  background-color: var(--antd-arrow-bg) !important;
  border: 1px solid #f4f4f4;
}

.ant-tooltip-arrow::before {
  background-color: var(--antd-arrow-bg) !important;
}

.ant-tooltip-arrow::after {
  box-shadow: none !important;
  border: 1px solid #f4f4f4;
}

.action-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  &.ant-btn-text.ant-btn-dangerous{
    color:rgb(12, 166, 242);
  }
}

.ant-tabs-nav-list .ant-tabs-tab{
  font-weight: 500;
}

.ant-tabs-top >.ant-tabs-nav::before{
  border-bottom: 1px solid transparent;
}

.ant-btn-primary:disabled {
  border-color: transparent;
}


.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  background-color: transparent;
}
.dark {
  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #141414;
  }
}

.ant-modal-footer{
  button.ant-btn-lg{
    font-size: 14px;
  }
  .ant-btn-lg:nth-child(2){
    margin-inline-start: 16px !important;
  }
}

.ant-form-vertical .ant-form-item-label{
  font-weight: 500;
}
