:root{
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
}

.dark {
  --page-bg-color: rgb(17, 17, 17);
  --page-text-color: rgb(232, 232, 232);
}

body {
  background: var(--page-bg-color);
  color: var(--page-text-color);
}

.dark {
  body{
    background: var(--page-bg-color);
    color: var(--page-text-color);
  }
}

ul { list-style-type: none; }


:root{

  --icon-color: #000;
  ---gray-bg-color: #f9f9f9;
  --tooltip-color: #333333;
  // #141517
}

.dark{
  --icon-color: #000;
  ---gray-bg-color: #141517;
  --tooltip-color: #e8e8e8;
}


@import './antd.scss'
