@import './antd.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

.code-view{
/* 全局滚动条 */
::-webkit-scrollbar {
	width: 8px;
	height: 11px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
}

}

:root {

  --primary-color: #0ca6f2;
  /* 导航菜单背景 */
  --sider-nav-bg: #fff;
  /* 导航菜单边框 */
  --sider-nav-border: rgb(237, 237, 237);

  --page-bg-color: #fff;
  --page-text-color: rgba(0, 0, 0, 0.88);

  /* 基础提示文字颜色 */
  --tips-text-color: rgb(85, 85, 85);
  --tips-text-8-color: rgb(115, 115, 115);
  --info-4-color: rgba(0, 0, 0, 0.45);
}

.dark {
  --sider-nav-bg: rgb(26, 27, 30);
  --sider-nav-border: rgb(53, 53, 53);

  --page-bg-color: rgb(17, 17, 17);
  --page-text-color: rgb(232, 232, 232);

  /* 基础提示文字颜色 */
  --tips-text-color: rgb(198, 198, 198);
  --tips-text-8-color: rgb(136, 136, 136);
  --info-4-color: rgba(255, 255, 255, 0.45);
}

body {
  background: var(--page-bg-color);
  color: var(--page-text-color);
}

.dark {
  body {
    background: var(--page-bg-color);
    color: var(--page-text-color);
  }
}

ul {
  list-style-type: none;
}


:root {
  --icon-color: #000;
  ---gray-bg-color: #f9f9f9;
  --tooltip-color: #333333;
}

.dark {
  --icon-color: #000;
  ---gray-bg-color: #141517;
  --tooltip-color: #e8e8e8;
}


h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  .tips {
    color: var(--tips-text-color);
  }

  .tips-8 {
    color: var(--tips-text-8-color);
  }
}

.link {
  color: #0ca6f2 !important;

  &:hover {
    color: #0ca6f2 !important;
  }
}

a.ac-link {
  word-break: break-all;
  font-weight: 500;
  color: #0ca6f2;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &.disabled {
    color: var(--info-4-color);
    cursor: not-allowed;
    &:hover {
      text-decoration: none;
      color: var(--info-4-color);
    }
  }

  &:hover {
    color: #19b3ff;
    text-decoration: underline;
  }
}


.mt-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  position: sticky;
  z-index: 99;
  top: 0px;
  left: 0px;
  padding-right: 24px;
  padding-left: 24px;
  height: 56px;
}
.mt-footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 99;
  bottom: 0;
  left: 0px;
  padding-right: 24px;
  padding-left: 24px;
  min-height: 56px;
  border-top: 1px solid var(--sider-nav-border);

}

.bento-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

  li {
    flex-shrink: 0;
    flex: 0 0 25%;
    padding: 8px;
    max-width: 25%;
  }
}

.flex-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.icon_root {
	font-size: 1.25rem;
	line-height: 1.75rem;
	user-select: none;
	width: 1em;
	height: 1em;
	display: inline-block;
	fill: currentcolor;
	flex-shrink: 0;
	transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


code.c {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas;
    line-height: 1.55;
    padding: 2px calc(5px);
    border-radius: 4px;
    color: rgb(26, 27, 30);
    background: rgb(244, 244, 244);
    font-size: 13px;
    font-weight: 600;
}
.dark {
    code.c {
      color: rgb(193, 194, 197);
      background: rgb(41, 41, 41);
    }
}

