@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .flex_cc {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex_c {
    display: flex;
    align-items: center;
  }
}
